.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon i{
  margin-left: 10px;
}
.ribbon {
  --r: .8em;
  border-block: .5em solid #0000;
  padding-inline: calc(var(--r) + .25em) .5em;
  line-height: 1.8;
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%,0 calc(100% - .25em),var(--r) 50%,0 .25em);
  background:
  radial-gradient(.2em 50% at right,#000a,#0000) border-box,
  #2699dc padding-box;
  width: fit-content;
}
@media(max-width:595px){
  .ribbon {
    width: 100%;
  }
}

.item1,.item2,.item3{
  float: left;
  width: 360px;
  margin-left: 20px;
  text-align: center;
  background-color: #005c91;
  color: white;
  border-radius: 20px;
  box-shadow: rgb(216, 243, 255) 10px 0px 20px 5px;
}

@media(max-width:1120px){
  .item1, .item2{
    float: left;
    width: 460px;
  }
  .item3{
   margin: auto;
   width: 460px;
   margin-top: 30px;
  }
}

@media(max-width:995px){
  .item1, .item2{
    float: left;
    width: 440px;
  }
  .item3{
   margin: auto;
   width: 440px;
  }
}


@media(max-width:990px){
  .item1, .item2{
    float: left;
    width: 340px;
  }
  .item3{
   margin: auto;
   width: 400px;
  }
}

@media(max-width:768px){
  .item1, .item2{
    float: left;
    width: 250px;
  }
  .item3{
   margin: auto;
   width: 370px;
  }
}

@media(max-width:768px){
  .item1, .item2{
    float: left;
    width: 250px;
  }
  .item3{
   margin: auto;
   width: 370px;
   margin-top: 30px;
  }
}

@media(max-width:668px){
  .item1, .item2, .item3{
    margin: auto;
    width: 80%;
    margin-top: 20px;
  }
}

@media(max-width:458px){
  .item3{
    font-size: 14px;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear;
}

.wow.rotate {
  visibility: hidden;
}

.wow.rotate[data-wow-duration] {
  visibility: visible;
}
