<div class="container">
  <br><br>
  <div class="ribbon">Profil <i class="fa-solid fa-user wow rotate" data-wow-duration="1s"></i> </div>
  <div class="row">
    <div class="col-lg-4 divleft">
      <div class="profil">
        <div class="wow writing-animation"> Qui suis-je ?</div>
        <div class="h_separator"></div>
      </div> <br>
      <h4>Etudiant ITUniversity, développeur</h4>
      <p>
        Actuellement étudiant en troisième année à ITUniversity, je suis sur le point d'obtenir ma licence et je suis à la recherche d'une
        opportunité professionnelle en développement. Passionné par le développement logiciel, je souhaite mettre à
        profit mes compétences techniques et mon enthousiasme au sein d'une entreprise dynamique.
      </p>
      <div class="dowload_cv"><button (click)="downloadCV()">Télécharger cv <i class="fas fa-download"></i></button></div>

    </div>
    <div class="col-lg-4 divcenter">
      <div class="profil">
        <div class="wow writing-animation"> Information :</div>
        <div class="h_separator"></div>
      </div> <br>
      <p> <b>Nom: </b> RANDRIANJANAHARY Rado Mahenina <br>
          <b>Naissance : </b> 26 Avril 2004 <br>
          <b>Ville : </b> Antananarivo 101, Andoharanofotsy <br>
          <b>Adresse : </b> MB 143 Mahabo <br>
          <b>Contact direct : </b> +261 38 74 050 51 <br>
          <b>E : </b> {{'radomaheninarandrianjanahary@gmail.com'}}
      </p> <br>
      <div class="contact">
        <ul>
          <li><a href="https://www.linkedin.com/in/rado-mahenina-randrianjanahary-049a01331/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://wa.me/261344391450" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="https://www.facebook.com/votreprofil" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=radomaheninarandrianjanahary@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        </ul>
      </div>

    </div>
    <div class="col-lg-4 divright">
      <div class="profil">
        <div class="wow writing-animation"> Atout :</div>
        <div class="h_separator"></div>
      </div> <br>
      <ul>
        <li>Maîtrise des langages de programmation</li>
        <li>Résolution des problémes</li>
        <li>Innovation</li>
        <li>Collaboration</li>
        <li>Adaptabilité (Capacité d'apprendre rapidement)</li>
        <li>Gestion temps</li>
      </ul>
    </div>
  </div>
  <hr>

</div>
