  <div class="container">
    <div class="ribbon"> Téchnologie <i class="fa-solid fa-robot wow rotate" data-wow-duration="1s"> </i></div>
    <div class="row grid">
      <div class="item">
        <div class="item-title">
          <h5>Langages</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Java</li>
            <li>PHP</li>
            <li>Python</li>
            <li>C#</li>
            <li>Javascript</li>
            <li>HTML&CSS</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="item-title">
          <h5>Frameworks</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Spring</li>
            <li>CodeIgniter </li>
            <li>Laravel</li>
            <li>Django</li>
            <li>Flask</li>
            <li>ASP.NET</li>
            <li>React</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="item-title">
          <h5>BDD</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Mysql</li>
            <li>MariaDB </li>
            <li>Postgres</li>
            <li>Oracle</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="item-title">
          <h5>Compétence</h5>
          <div class="div_hr"></div>
        </div>
        <div class="item-body">
          <ul>
            <li>Git, GitHub</li>
            <li>IDE : NetBeans, IntelliJ </li>
            <li>Bootstrap, sass</li>
            <li>Responsive</li>
            <li>Responsive mobile</li>
            <li>Compétences en sécurité</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

