<div class="container">
  <div class="ribbon">Education <i class="fa-solid fa-book-open wow rotate" data-wow-duration="1s"> </i> </div>

  <div class="row education">
    <ul>
      <li>
        <i class="fa-solid fa-circle-dot wow liste1-wow" > </i> Août 2024
        <p id="description">Stage de trois mois réalisé pour valider ma licence en développement, projet de mémoire <br> Entreprise : <a href="https://misaina.com/" target="_blank" rel="nooper noreferrer"> Misaina Incorporation</a> </p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste2-wow"> </i> 2021 - A ce jour
        <p id="description">Développement informatique chez <a href="https://www.ituniversity-mg.com/page/" target="_blank" rel="noopener noreferrer">ITUniversity</a> à Andoharanofotsy, <br> Développement d'applications, de logiciels et de sites web dans le cadre de ma formation</p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> 2020
        <p id="description">Baccalauréat série D, <br> Ecole catholique : Lycée Saint Pierre Malaza <a href="https://mapcarta.com/fr/W1279349429" target="_blank" rel="nooper noreferrer">(LSPM)</a> </p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> Cours
        <p id="description">Français : Cours 2 mois chez Alliance française, <br> Anglais : Cours 3 mois chez CALACOM English à 67Ha </p>
      </li>

    </ul>
  </div>
</div>
